.classpath
.settings
.project
target/

highscores-client-core/.classpath
highscores-client-core/.settings
highscores-client-core/.project
highscores-client-core/target/

highscores-client-tests/.classpath
highscores-client-tests/.settings
highscores-client-tests/.project
highscores-client-tests/target/

highscores-client-android/.classpath
highscores-client-android/.settings
highscores-client-android/.project
highscores-client-android/target/

highscores-client-desktop/.classpath
highscores-client-desktop/.settings
highscores-client-desktop/.project
highscores-client-desktop/target/
